/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f5;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

/* TOP HEADER */

.top-header {
    background-color: #082c3d;
    padding: 12px 0;
}

.top-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left {
    display: flex;
    gap: 30px;
}


.top-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 14px;
}

.top-item:hover {
    color: #ff5a3c;
}

.top-item i {
    color: #ff5a3c;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social-icons {
    display: flex;
    gap: 15px;
    color: white;
    cursor: pointer;
}

.listing-btn {
    border: none;
    padding: 12px 24px;
    background-color: #ff5a3c;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.listing-btn:hover {
    background-color: #a73d2b
}

/* HEADER */

.header {
    background: #fff;
    padding: 25px 0;
    transition: box-shadow 0.4s ease;
}

.header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 999;

    box-shadow:
        0 10px 30px rgba(128, 0, 255, 0.12),
        0 20px 50px rgba(128, 0, 255, 0.08);

    animation: navbarShow 0.5s ease forwards;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 220px;
}

.nav-menu {
    display: flex;
    gap: 35px;
}

.nav-menu a {
    color: #082c3d;
    font-weight: 600;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #ff5a3c;
}

.close-menu {
    font-size: 20px;
    cursor: pointer;
    color: #071A1D;
}

.close-menu:hover {
    color: #FF5A3D;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons {
    display: flex;
    gap: 10px;
}

.icon-box {
    width: 45px;
    height: 45px;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;
}

.icon-box:hover {
    background-color: #ff5a3c;
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* HERO */

.hero {
    padding: 80px 0;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-content {
    width: 50%;
}

.hero-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #071A1D;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 700;
}

.hero-subtitle img {
    width: 16px;
    height: 16px;
}

.hero-content h1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    color: #071A1D;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 100% */
}

.hero-description {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.hero-line {
    width: 4px;
    background-color: #d3d3d3;
}

.hero-description p {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #5D737E;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.01px;

}

.hero-btn {
    position: relative;
    display: flex;
    width: 212.75px;
    height: 57px;
    padding: 17px 40.699px 17px 41px;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF5A3D;
    background: #FF5A3D;
    color: rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.hero-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
    z-index: -1;
}

.hero-btn:hover::before {
    transform: scaleX(1);
}

.hero-image {
    width: 585px;
    height: 441.39px;
}

.mobile-top {
    display: none;
}

/* ABOUT */

.about-us {
    padding: 100px 0;
    background-color: #ffffff;
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.about-image {
    flex: 1;
    max-width: 500px;
    overflow: hidden;
}


.about-image {
    position: relative;
    flex: 1;
    max-width: 500px;
}

.main-image {
    width: 100%;
    border-radius: 8px;
}

.small-image {
    position: absolute;
    width: 300px;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
    left: -40px;
    bottom: 90px;
}

.about-content {
    flex: 1;
}

.about-tag {
    display: inline-block;
    background: #ffe6e1;
    color: #ff5a3c;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 42px;
    line-height: 1.3;
    color: #071A1D;
    margin-bottom: 20px;
}

.about-text {
    color: #5D737E;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feature i {
    width: 40px;
    height: 40px;
    background: #fff1ee;
    color: #ff5a3c;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.feature span {
    color: #5D737E;
    font-size: 14px;
}

.about-quote {
    border-left: 3px solid #ff5a3c;
    background: #fff1ee;
    padding: 20px;
    margin-bottom: 30px;
}

.about-quote p {
    color: #5D737E;
    line-height: 1.8;
}

.about-btn {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 16px 32px;

    border: 1px solid #FF5A3D;
    background: #FF5A3D;
    color: #fff;

    font-size: 14px;
    font-weight: 600;

    overflow: hidden;
    z-index: 1;

    transition: color 0.5s ease;
}

.about-btn::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #ffffff;

    transform: scaleX(0);
    transform-origin: left;

    transition: 0.5s ease;

    z-index: -1;
}

.about-btn:hover::before {
    transform: scaleX(1);
}

.about-btn:hover {
    color: #071A1D;
}

@keyframes navbarShow {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TABLET */

@media screen and (max-width: 1024px) {

    .container {
        width: 90%;
    }

    .hero-content h1 {
        font-size: 55px;
    }

    .nav-menu {
        gap: 20px;
    }

}

/* MOBILE */

@media screen and (max-width: 768px) {

    .top-header {
        display: none;
    }

    .container {
        width: 92%;
    }

    .menu-toggle {
        display: block;
    }

    .nav-icons {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
    }

    .mobile-top img {
        width: 140px;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 75%;
        max-width: 320px;
        height: 100vh;

        background-color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        gap: 25px;

        padding: 100px 25px 25px;

        transition: 0.35s ease;
        z-index: 999;
        box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu a {
        color: #5c6b7a;
        font-size: 18px;
        font-weight: 600;

        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 36px;
        width: 100%;
        height: auto;
        line-height: 1.2;
    }

    .hero-description p {
        width: 100%;
        height: auto;
    }

    .logo img {
        width: 160px;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .about-content {
        width: 100%;
    }

    .about-features {
        grid-template-columns: 1fr;
    }

    .feature {
        justify-content: center;
    }

    .about-content h2 {
        font-size: 32px;
    }

    .about-image {
        max-width: 100%;
    }

    .small-image {
        width: 160px;
        left: 0;
        bottom: 0;
    }
}